body {
    background-color: #f8f8f8;
    color: #3C3C3C;
    font-family: 'Roboto Slab';
}

.date, .role {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 100%;
}

.date {
    width: 30%;
}

.img-center {
    display: flex;
    justify-content: center;
}